#menu {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/BattleOfVirginiaCapes.jpg");

    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
		height: 100%;
   /* background-attachment: fixed;*/
}
#mapa {
	background-image: url("http://wallpoper.com/images/00/44/59/13/assassins-creed-iii-ships_00445913.jpg");

    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
		height: 100%;
   /* background-attachment: fixed;*/
}

.coor{
	height: 12px !important;
}

td.map-n:not(.coor) {
	text-align: right;
	width: 12px;
	padding: 7px;
}

.map-column, .map-n {
	height: 40px;
	width: 40px;
	text-align: center;
}

.map-column {
	border: 1px solid black;
}
.orange {
	background: rgba(215, 95, 86, 0.68) none repeat scroll 0% 0%;
}

.map-container-box {
	padding: 40px
}
#board-container {
  display: table;
  margin: auto;
  padding: 20px 50px;
  background: #27383F none repeat scroll 0% 0%;
  margin: 6% auto auto;
  margin-top: 6%;
  border-radius: 5px;
}
.name-container {
	min-height: 50px;
	width: 100%;
	background: #D75F56;
}
.input-properties {
  display: block;
	float: left;
  width: 80%;
  font-size: 25px;
  line-height: 40px;
  background: 0 0;
  border: none;
  border-bottom: 1px dotted rgba(0,0,0,.4);
  padding: 5px 10px;
  border-radius: 0;
}
.ship-board {
	float: left;
	min-height: 400px;
	min-width: 400px;
	background: #6B8991 none repeat scroll 0% 0%;
	margin: 20px;
}

#header-container {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

#header-title{
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 60px
}

#menu-container {
	width: 350px;
	height: 190px;
	background: #D5C7AD;
	margin: auto auto;
	padding: 10px;
	margin-top: 13%;
	border-radius: 4px;
}

.button-dialog {
	height: 80px;
	margin: 0px auto;
	margin-bottom: 10px;
	background: rgb(57, 73, 89);
	width: 100%;
	font-size: 30px;
	color: #ADB0B5;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	letter-spacing: 1px;
}

.gen-map, .jogar {
	height: 45px;
	font-size: 20px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.gen-map {
	background: rgb(57, 73, 89);
	color: #ADB0B5;
}

.gen-map:hover, .name-dialog:hover, .button-dialog:hover {
	background: #425564;
}

.jogar {
	background: rgb(167, 209, 137) none repeat scroll 0% 0%;
	color: rgb(39, 56, 63);
}

.jogar:hover{
	background: rgb(177, 218, 148)  none repeat scroll 0% 0%;
	color: #425564;
}

.name-dialog {
	width: 10%;
	height: 50px;
	margin-bottom: 0px;
	border-radius: 0px;
	float: right;
	background: rgb(57, 73, 89) none repeat scroll 0% 0%;
}

.name-dialog > a {
	color: rgb(173, 176, 181);
}

.player-name {
	float: left;
	width: 100%;
	display: none;
	font-size: 25px;
	padding: 10px;
	font-family: inherit;
}

.gen-map, .generate-map {
	display: none;
}
